extends ../layout
block content
    div.container-fluid
         ol 
            li Did you extend the hard disk?  
            li Did you calibrate the screen?
            li Did you change root password?
            li Did you copy the webscc config files?
            li Did you installed virtual keyboard in Chrome Browser?
            li Did you create webscc database?
            li Did you disable updates(optional)?
            li Did you installed tomcat?            